0:
    mouse: '210120_m85'
    days:
        210323:
            recs910: 0
        210324:
            recs910: 0
            recs820: 1
        210325:
            recs910: 0
        210326:
            recs910: 0
        210329:
            recs910: 0
        210330:
            recs910: 0
        210331:
            recs910: 0
        210401:
            recs910: 0
            recs820: 1
        210402:
            recs910: 0
            recs820: 1

1:
    mouse: '210122_f84'
    days:
        210319:
            recs910: 1
        210322:
            recs910: 0
            recs820: 1
        210323:
            recs910: 1
        210324:
            recs910: 0
        210325:
            recs910: 0
        210326:
            recs910: 0
        210329:
            recs910: 0
        210330:
            recs910: 0
            recs820: 1
        210331:
            recs910: 0
            recs820: 1
        210401:
            recs910: 0
            recs820: 1
        210402:
            recs910: 0
            recs820: 1
        210406:
            recs910: 0
            recs820: 1
        210407:
            recs910: 0
            recs820: 1
2:
    mouse: '201220_m59'
    days:
        210224:
            recs910: 0
            recs820: 1
        210225:
            recs910: 0
        210226:
            recs910: 0
            recs820: 2
        210301:
            recs910: 0
        210302:
            recs910: 0
        210303:
            recs910: 0
        210304:
            recs910: 0
        210305:
            recs910: 0
        210308:
            recs910: 1
        210309:
            recs910: 0
        210310:
            recs910: 1
