0:
    mouse: '210120_m85'
    days:
        210323:
            recs910:
                recordings: 0
        210324:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210325:
            recs910:
                recordings: 0
        210326:
            recs910:
                recordings: 0
        210329:
            recs910:
                recordings: 0
        210330:
            recs910:
                recordings: 0
        210331:
            recs910:
                recordings: 0
        210401:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210402:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5

1:
    mouse: '210122_f84'
    days:
        210319:
            recs910:
                recordings: 1
                CaImgs: 0,1,2,3,4
        210322:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            #recs820:
            #    recordings: 1
        210323:
            recs910:
                recordings: 1
                CaImgs: 1,2,3,4,5
        210324:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210325:
            recs910:
                recordings: 0
        210326:
            recs910:
                recordings: 0
        210329:
            recs910:
                recordings: 0
        210330:
            recs910:
                recordings: 0
                CaImgs: 1,2,3,4,5
            #recs820:
            #    recordings: 1
        210331:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210401:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210402:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210406:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210407:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5

2:
    mouse: '201220_m59'
    days:
        210224:
            recs910:
                recordings: 1
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 2
                CaImgs: 5
        210225:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210226:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 2
                CaImgs: 6
        210301:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210302:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210303:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210304:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210305:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210308:
            recs910:
                recordings: 1
                CaImgs: 1,2,3,4,5
        210309:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210310:
            recs910:
                recordings: 1
                CaImgs: 1,2,3,4,5
3:
    mouse: '210122_f83'
    days:
        210329:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210330:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210331:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210401:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210402:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210406:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210407:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210408:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210409:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210412:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210413:
            recs910:
                recordings: 0
                CaImgs: 1,2,3,4,5
            recs820:
                recordings: 2
                CaImgs: 6

4:
    mouse: '201211_m45'
    days:
        210217:
            recs910: 0
            recs820: 1
        210218:
            recs910: 0
        210219:
            recs910: 0
        210222:
            recs910: 0
        210223:
            recs910: 0
        210224:
            recs910: 0
        210225:
            recs910: 0
        210226:
            recs910: 0
            recs820: 1
        210301:
            recs910: 1,3,4
        210302:
            recs910: 0,3,4,5
        210303:
            recs910: 0,1,2,3,
        210304:
            recs910: 0,1,2
        210305:
            recs910: 0,1,2
        210308:
            recs910: 0,1,2
        210309:
            recs910: 0,1,2,3
        210310:
            recs910: 1,2,3,4,5
5:
    mouse: '210214_m20'
    days:
        210512:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210513:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210514:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210517:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 2
                CaImgs: 6
        210518:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210519:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210520:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210521:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210525:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210526:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210527:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210528:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210531:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210602:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
6:
    mouse: '210214_m12'
    days:
        210429:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210430:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 2
                CaImgs: 6
        210503:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210504:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210505:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210506:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210507:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210510:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210511:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210512:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210513:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
7:
    mouse: '210214_m14'
    days:
        210429:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210430:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210503:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 4
                CaImgs: 8
        210504:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210505:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210506:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210507:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210510:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210511:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210512:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210513:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
8:
    mouse: '210214_m15'
    days:
        210429:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210430:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210503:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210504:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 2
                CaImgs: 6
        210505:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210506:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210507:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210510:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210511:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 3
                CaImgs: 8
        210512:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210513:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210514:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
9:
    mouse: '210214_m13'
    days:
        210503:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210504:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210505:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210506:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210507:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210510:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210511:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210512:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210513:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210514:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5

10:
    mouse: '210120_m86'
    days:
        210323:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210324:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5
        210325:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210326:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210329:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
        210330:
            recs910:
                recordings: 1
                CaImgs: 0,1,2,3,4
        210331:
            recs910:
                recordings: 0
                CaImgs: 0,1,2,3,4
            recs820:
                recordings: 1
                CaImgs: 5

